# --- GitHub C++ Template Base ---
*.stackdump
*.onboarding
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.out
*.app
*.i
*.s

# --- SD/OS Specific Binaries ---
# This ignores your compiled kernel and shell files
sdos_v*
chaos_core
kernel_main
resolution_engine

# --- Build Directories ---
[Bb]in/
[Ob]j/
build/

# --- IDE & System Files ---
.vscode/
.idea/
.DS_Store
*.swp
